<h1><%= @user.name %></h1>
  <p>Age: <%= @user.age %></p>
  <p>Location: <%= @user.location %></p>
  <p>Picture: <%= @user.picture %></p>
  <p>Role: <%= @user.role %></p>
  <p>Contact: <%= @user.contact %></p>

<%= link_to "Edit Profile", edit_user_path %>